html{
	height:95%;
	width: 100%;
}

h4{
	text-align: center;
}

/* ------ ANIMACIONES ------ */
@keyframes subir {
    0% {top: 0px;}
    100% {top: -80px;}
}

@keyframes bajar {
    0% {top: -80px;}
    100% {top: 0px;}
}

@keyframes expandir {
	position: relative;
}


/* ------ TAPETE ------ */
body{
	background: url(../img/metalTexture.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-top: 0px;
}

#borde{
	border-style: solid;
	border-image-source: url(../img/metalicBorder2.png);
    border-image-slice: 123;
    border-image-width: 123px;
    border-image-outset: 1;
    border-image-repeat: initial;
	height: 104%;
	margin: -8px; /* Esto es para contrarrestar el margen de 8px por defecto */
}

#marcoError{
	position: absolute;
	bottom: -35px;
	width: 100%;
}

#errorPartida{
	color: red;
	margin: auto;
	width: 61.5%;
	text-align: center;
	font-weight: bold;
}
/* ------ CARTAS ------ */
#box{
	border: 2px solid black;
	width: 100px;
	min-height: 150px;
}
#marcoJefe{
	width: 100%;
	position: absolute;
	top: 50px;
}

#marcoJefeMaster{
	bottom: 180px;
	width: 100%;
	position: absolute;
}

#cartasAventureroMaster{
	position: absolute;
	top: 5%;
	width: 100%;
}

#marcoMano{
	position: absolute;
	bottom: 40px;
	width: 100%;
}

#mano{
	margin: auto;
	width: 61.5%;
}

#cartaJefe{
	margin: auto;
	width: 770px;
	height: 140px;
}

#cartas{
	margin: auto;
	width: 770px;
	height: 140px;
}

#cartasAventurero{
	position: absolute;
	bottom: 270px;
	width: 100%;
}

.marcoAventurero{
	width: 150px;
	position: relative;
}

#infoCarta{
	position: absolute;
	bottom: 190px;
	right: 30px;
	width: 390px;
	display: none;
	z-index: -10;
}
#infoNombreCarta{
    position: absolute;
    top: 0%;
    margin-top: 10%;
    margin-bottom: 100%;
    text-align: center;
    width: 100%;
    /* height: 100%; */
    font-size: 18px;
}
#infoHp{
    position: absolute;
    bottom: -14px;
    width: 30px;
    height: 30px;
    right: 22px;
    text-align: center;
    margin-right: 35px;
    margin-bottom: 17%;
    font-size: 15px;
}
#infoDescripcion{
	position: absolute;
    top: 50%;
    left: 16%;
    margin-top: 10%;
    margin-bottom: 100%;
    text-align: justify;
    width: 68%;
    font-size: 15px;
}
#infoEnergia{
	position: absolute;
    top: 50px;
    right: 40px;
    text-align: right;
    /* font-size: 15px; */
    color: white;
}

#infoHabilidades{
	position: absolute;
    bottom: 56px;
    left: 130px;
    width: 138px;
    height: 45px;
}
#infoHabilidad{
    display: none;
    position: absolute;
    bottom: 79px;
    right: 130px;
    width: 178px;
    height: 100px;
    text-align: center;
    box-shadow: 0px 15px 40px black;
    border-style: solid;
    border-image-source: url(../img/bordeBoton.png);
    border-image-slice: 86;
    border-image-width: 29px;
    border-image-outset: 5px;
    border-image-repeat: round;
    background: url(../img/paperTexture.jpg) no-repeat;
    line-height: 0%;
    font-size: 14px;
    text-align: center;
}


.botonesHabilidades{
	width: 100%;
	height: 33.33%;
	border: 2px solid black;
	background-color: transparent;
	background-image: none;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	color: black;
}
.botonesHabilidades:active{
	font-size: 11px;
}

.infoCartaAventurero{
	position: relative;
}
.infoMarcoAventurero{
	max-width: 100%;
	min-width: 100%;
	position: relative;
}

.infoPersonajeAventurero{
	width: 67%;
    margin-top: 14%;
    margin-left: 16%;
    position: absolute;
}
#opacidad{
    position: fixed;
    /* width: 102%; */
    /* height: 100.2%; */
    background-color: black;
    opacity: 0.0;
    z-index: -20;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    /* margin-left: -5px; */
    /* margin-top: -5px; */
}
.marcoConfirmar{
	position: absolute;
	width: 100%;
	display: none;
	margin-top: 20%;
}
.confirmar{
	margin: auto;
	width: 300px;
	height: 120px;
	padding: 20px;
	text-align: center;
	box-shadow: 0px 20px 40px black;
	border-style: solid;
    border-image-source: url(../img/bordeBoton.png);
    border-image-slice: 86;
    border-image-width: 41px;
    border-image-outset: 11px;
    border-image-repeat: round;
    background: url(../img/paperTexture.jpg) no-repeat;
}
#marcoConfirmar1{
	
}
#confirmar2{
	height: 150px;
}

#confirmar4{
	height: 190px;
}

#confirmar5{
	margin-top: -10%;
	margin-left: 98%;
	text-align: justify;
	height: 500px;
	width: 800px;
	overflow-y: auto;
	padding-right: 20px;
}
#marcoConfirmar5{
	z-index: -10;
}

#confirmar5 p{
	margin-right: 30px;
}
#entendido{
	margin-left: 46%;
}

#deseleccionar{
	position: absolute;
	width: 102%;
	height: 99%;
}
.botonesConfirmacion{
	margin-left: 10px;
	margin-top: 10px;
}

/*
.cartaAventureroMano:active{
	animation: subir 0.25s forwards;
	-webkit-animation-fill-mode: forwards;
	animation-timing-function: linear;
}
*/
.cartaAventurero, .cartaAventureroMano, .cartaMazo, .cartaOtro{
	max-width: 148px;
    height: 208px;
    position: relative;
    display: inline-block;	
}

.personajeAventurero{
    width: 100px;
    margin-top: 24px;
    margin-left: 25px;
    position: absolute;
}

.blanca{
	color: white;
}
.negra{
	color: black;
}
#nombreCarta{
    position: relative;
    top: -216px;
    margin-left: 10px;
    width: 128px;
    text-align: center;
    font-size: 12px;
}
#hp{
	font-size: 12px;
    text-align: right;
    width: 111px;
    position: absolute;
    top: 167px;
    margin-right: 6px;
}
#energia{
	font-size: 10px;
    text-align: right;
    width: 135px;
    position: absolute;
    top: 20px;
    margin-right: 0px;
}

#cartasMano{
	height: 215px;
	margin-left: 3px;
	overflow-x: auto;
	overflow-y: hidden;
}

#bordeMano{
	position: absolute;
    width: 61.25%;
    height: 133px;
    margin-top: 79px;
    margin-right: 5px;
    border: 3px inset #4c331a;
    z-index: -1;
}

#cartasMano .cartaAventureroMano{
	position: absolute;
	margin-top: 84px;
}

#cartasMano > .cartaAventureroMano{
	transition: top 0.3s ease, left 0.3s ease;
}

#cartasMano .cartaAventureroMano:hover{
	animation: subir 0.25s forwards;
	animation-timing-function: linear;
}

#cartasMano .cartaAventureroMano:not(:hover){
	animation: bajar 0.25s;
	animation-timing-function: linear;
}



/* ------ BOTONES ------ */
.opcionesPartida{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	color: white;
	font-size: 10px;
	border: 3px solid #714a23;
	background-color: #714a23;
	background: none;
}
.opcionesPartida:active{
	font-size: 9.5px;
}

#contadorWipes{
	position: absolute;
	margin-top: 17px;
    margin-left: 10px;
	border: none;
}

#wipes{
	width: 100%;
	height: 100%;
	margin: 0px;
	margin-left: 5px;
	text-align: center;
	font-size: 50px;
	color: #714a23;
}

#rendirse{
	position: absolute;
	right: 0px;
	margin-top: 15px;
    margin-right: 20px;
}

#pasarTurno{
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin-bottom: 36px;
	margin-left: 15px;

}
#ayuda{
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-right: 20px;
    margin-bottom: 36px;
}


/* ------ REGISTRO DE MOVIMIENTOS ------ */
#log{
	width: 15%;
    max-height: 520px;
    text-align: justify;
    position: absolute;
    top: 12%;
    overflow-y: auto;
    right: 40px;
}
